* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  white-space : nowrap;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
}

#title {
  font-size: 8rem;
  display: block;
  animation: plateAnimation 70s linear;
}

#btn-toggle {
  font-size: 1.8rem;
  white-space: normal;
  text-align: center;
}

#container {
  overflow: hidden;
  background-color: #080122;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  background-color: rgba(8, 1, 34, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal.show {
  animation: openModal 1s forwards;
}

#modal.close {
  animation: closeModal 1s forwards;
}

#modal #close-modal {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.8rem;
}

#modal #close-modal:active {
  transform: scale(0.8);
}

@keyframes plateAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes openModal {
  from {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
  }

  to {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes closeModal {
  from {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }

  to {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
  }

}